<!DOCTYPE html>
<html>

<head>
    <title>CO2 Production Map</title>
    <link rel="stylesheet" href="../static/css/index.css">

    <!--Add la librairie D3.js-->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!--On add la librairie topojson-->
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>

    <!--On add la libraire avec les échelles de couleur-->
    <script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3"></script>

</head>
<body>
    <h1>CO2 emissions by country in 2020 !</h1>

    <svg width="960" height="500"></svg>

    <!--
        <div id="barChart"></div>
    -->
    
    
</body>
    <!--Import du module qui fait la map mdr-->
    <script type='module' src="../static/js/index.js"></script>

    <!--Import de la barChart
    <script type='module' src="../static/js/barChart.js"></script>-->
</html>